<!DOCTYPE html>
<html>
<head>
  <title>WorldBucketList</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fluid-container">
  <div class="row nav-bar">
    <div class="col col-4">
      <%= link_to 'World Bucket List', :root, class: "nav_logo_link" %>
    </div>
    <div class="col col-4">
      <ul class="nav-menu-ul">
          <% if user_signed_in? %>
            <li class="nav-menu-li">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-menu-link" %>
            </li>
          <%else%>
            <li class="nav-menu-li">
              <%= link_to 'Login', new_user_session_path, class: "nav-menu-link"%>
            </li>
            <li class="nav-menu-li">
              <%= link_to 'Register', new_user_registration_path, class: "nav-menu-link" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="fluid-container content">
  <%= yield %>
</div>

</body>
</html>
